@import "../../style.scss";

.news {
  @include themify($themes) {
    background-color: themed("bgSoft");
    padding: 20px 40px;
    min-height: 100vh;
    @include mobile {
      padding: 10px;
    }
    @include tablet {
      padding: 20px;
    }
    h2 {
      color: themed("logo");
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 1.5rem;
      @include mobile {
        font-size: 1.5rem;
      }
    }
    .post {
      -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      border-radius: 20px;
      background-color: themed("bg");
      color: themed("textColor");
      margin-bottom: 30px;
      padding-top: 10px;

      .container {
        padding: 15px;

        .details {
          display: flex;
          flex-direction: column;

          .name {
            font-weight: 600;
          }
        }

        .content {
          margin: 20px 0px;
          // overflow: hidden;
          p {
            font-size: 14px;
          }
          a {
            text-decoration: none;
          }
          img {
            width: 100%;
            max-height: 400px;
            object-fit: cover;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
